.card {
  box-sizing: border-box;
  width: 381px;
  height: 217px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-radius: 15px;
  gap: 28px;
  cursor: pointer;
}
.todo {
  border: 1px solid #ffbe0b;
}
.inprogress {
  border: 1px solid #fb5607;
}
.testing {
  border: 1px solid #ff006e;
}
.donecard {
  border: 1px solid #3a86ff;
}
.cardheader {
  width: 341px;
  height: 26px;
  display: flex;
  justify-content: space-between;
}
.leftp {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.prioritydiv {
  /*for medium priority*/
  border-radius: 4px;
  padding: 4px;
  display: flex;
  gap: 4px;
  font-size: 12px;
  justify-content: center;
  align-items: center;
}
.lowpriority {
  border: 0.5px solid #08a508;
  color: #08a508;
}
.mediumpriority {
  border: 0.5px solid #ffbe0b;
  color: #ffbe0b;
}
.highpriority {
  border: 0.5px solid #fa4d4d;
  color: #fa4d4d;
}
.depdiv {
  box-sizing: border-box;
  width: 88px;
  height: 24px;
  /*for design department*/
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  border: none;
  padding: 5px 9px;
  font-size: 12px;
  color: white;
}
.designdep {
  background-color: #ff66a8;
}
.marketingdep {
  background-color: #fd9a6a;
}
.ITdep {
  background-color: #ffd86d;
}
.logisticsdep {
  background-color: #89b6ff;
}
.administrationdep {
  background-color: rgb(214, 75, 75);
}
.administrationdep {
  background-color: rgb(214, 75, 75);
}
.HRdep {
  background-color: rgb(69, 230, 125);
}
.financesdep {
  background-color: rgb(149, 84, 182);
}
.mediadep {
  background-color: rgb(41, 64, 179);
}
.datedue {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: #212529;
}
.cardcontent {
  width: 320px;
  height: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
}
.crheader {
  font-size: 15px;
  font-weight: 600;
}
.crcontent {
  font-size: 14px;
  color: #343a40;
}
.cardfooter {
  box-sizing: border-box;
  width: 341px;
  height: 31px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.comments {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
}
.commentcount {
  font-size: 14px;
  color: #212529;
}
